<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cunjia.ordering.dao.BoxLunchPraiseMapper">
    <resultMap id="BaseResultMap" type="com.cunjia.ordering.domain.BoxLunchPraise">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="user_id" jdbcType="INTEGER" property="userId"/>
        <result column="box_lunch_id" jdbcType="INTEGER" property="boxLunchId"/>
        <result column="box_lunch_praise_status" jdbcType="TINYINT" property="boxLunchPraiseStatus"/>
    </resultMap>

    <resultMap id="boxLunchPraise" type="com.cunjia.ordering.vo.BoxLunchPraiseVO">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="user_id" jdbcType="INTEGER" property="userId"/>
        <result column="box_lunch_id" jdbcType="INTEGER" property="boxLunchId"/>
        <result column="box_lunch_praise_status" jdbcType="TINYINT" property="boxLunchPraiseStatus"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, user_id, box_lunch_id, box_lunch_praise_status
  </sql>

    <select id="checkBoxLunchPraiseByUserId" parameterType="java.util.Map" resultMap="boxLunchPraise">
    select usr_id,box_lunch_id,box_lunch_praise_status
    from box_lunch_praise
    where user_id=#{userId} and box_lunch_id=#{boxLunchId};
  </select>
</mapper>