<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cunjia.ordering.dao.RedPacketUserMapper">
    <!--新增用户红包表-->
    <insert id="insertRedPacketUser" parameterType="com.cunjia.ordering.vo.RedPacketUserVO">
        INSERT INTO `red_packet_user`(user_id,red_packet_price,red_packet_get_time,red_packet_type)
        VALUES(#{userId},#{redPacketPrice},NOW(),#{redPacketType})
    </insert>

    <!--新增红包记录表-->
    <insert id="insertRedPacketShareRecord" parameterType="com.cunjia.ordering.domain.RedPacketShareRecords">
        INSERT INTO `red_packet_share_records` (user_id, sharing_record_date, sharing_record, sharing_record_type)
        VALUES(#{userId},NOW(),#{sharingRecord},#{sharingRecordType})
    </insert>
</mapper>